{
  "presets": [
    [
      "@babel/env",
      { "useBuiltIns": "usage", "targets": "defaults", "corejs": 3 }
    ],
    "@babel/react",
    "@babel/typescript"
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "regrenator": true
      }
    ]
  ]
}
